.button {
  position: relative;

  display: inline-flex;
  padding: 16px 59px 16px 21px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-family);
  color: var(--primary, #316dc2);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;

  background-color: transparent;
  border: 1px solid var(--primary, #316dc2);
  border-radius: 30px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;

    width: 46px;
    height: 46px;

    background-color: var(--primary, #316dc2);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 22px;

    width: 15px;
    height: 15px;

    background-color: var(--white, #ffffff);
    transform: rotate(-45deg);
    transform-origin: center;

    transition: transform 0.3s ease;

    mask-image: url("../__spritemap#sprite-arrow-right-view");
  }
}
