.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: var(--white, #ffffff);
  background-color: var(--primary, #316dc2);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  --icon-transform: rotate(-45deg);

  transition: background-color 0.3s ease, color 0.3s ease;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: currentColor;
    mask-image: var(--icon-url);
    mask-repeat: no-repeat;
    mask-position: center;
    transform: var(--icon-transform);
    transform-origin: center;
    transition: rotate 0.3s ease, background-color 0.3s ease;
  }

  &:hover {
    background-color: var(--white, #ffffff);
    color: var(--primary, #316dc2);

    --icon-transform: rotate(0);
  }

  &:active {
    opacity: 0.7;
    background-color: var(--white, #ffffff);
    color: var(--primary, #316dc2);

    --icon-transform: rotate(0);
  }

  &:focus-visible {
    opacity: 1;
    color: var(--white, #ffffff);
    background-color: var(--primary, #316dc2);

    --icon-transform: rotate(0);
  }

  &--disabled,
  &:disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--state-disabled, #a9afb7);

    --icon-transform: rotate(-45deg);
  }

  &--arrow {
    --icon-url: url("../__spritemap#sprite-arrow-right-slider-view");
  }
}
