.faq__container {
  margin-top: 50px;
  margin-bottom: 50px;

  background-color: var(--beige, #f0efe9);
}

.faq__title {
  margin: 0 0 29px;

  text-align: center;
}

.faq__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 10px;
}

.faq__item {
  position: relative;

  overflow: hidden;

  border: 2px solid var(--primary, #316dc2);
  border-radius: 14px;
}

.faq__question {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 20px 15px;

  text-align: left;
  color: var(--primary, #316dc2);

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-white, #ffffff);
  }

  &:focus-visible {
    background-color: var(--color-white, #ffffff);
  }

  &:active {
    background-color: var(--color-white, #ffffff);
    color: var(--state-active,  #275699);
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.faq__question.is-active {
  color: var(--color-white, #ffffff);
  background-color: var(--primary, #316dc2);

  &:active {
    background-color: var(--state-active,  #275699);
  }
}

.faq__question b {
  display: grid;
  align-items: start;
  min-height: 40px;
  margin: 0;
  padding: 0 55px 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  transition: color 0.3s ease, background-color 0.3s ease;
}


.faq__item p {
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 14px;
  line-height: 20px;
  color: var(--beige, #f0efe9);
  background-color: transparent;

  transition: max-height 0.3s ease, background-color 0.3s ease;
}

.faq__question.is-active + p {
  background-color: var(--primary, #316dc2);
  padding: 0 15px 20px;
}

.faq__question.is-active:active + p {
  background-color: var(--state-active,  #275699);
}

.faq__close-icon {
  position: absolute;
  top: 50%;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: var(--color-white, #ffffff);

  background-color: var(--primary, #316dc2);
  border: 1px solid var(--primary, #316dc2);
  border-radius: 50%;
  transform: translateY(-50%);

  transition: background-color 0.3s ease;

  &::before {
    content: "";

    width: 18px;
    height: 2px;

    background-color: currentColor;

    transition: background-color 0.3s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 18px;

    background-color: currentColor;
    transform: translate(-50%, -50%);

    transition: background-color 0.3s ease;
  }
}

.faq__question:hover .faq__close-icon {
  color: var(--primary, #316dc2);

  background-color: transparent;
  border-color: var(--primary, #316dc2);
}

.faq__question.is-active:hover .faq__close-icon {
  color: var(--color-white, #ffffff);

  background-color: transparent;
  border-color: var(--color-white, #ffffff);
}

.faq__question.is-active:focus-visible .faq__close-icon {
  color: var(--color-white, #ffffff);

  background-color: transparent;
  border-color: var(--color-white, #ffffff);
}

.faq__question:focus-visible {
  outline: none;
}

.faq__question:focus-visible .faq__close-icon {
  color: var(--primary, #316dc2);

  background-color: transparent;
  border-color: var(--primary, #316dc2);
}

.faq__question:disabled .faq__close-icon {
  color: #dddfe2;

  background-color: var(--state-disabled, #a9afb7);
  border-color: var(--state-disabled, #a9afb7);
}

.faq__question.is-active .faq__close-icon {
  color: var(--primary, #316dc2);

  background-color: var(--color-white, #ffffff);
  border-color: var(--color-white, #ffffff);

  &::after {
    display: none;
  }
}

.faq__question:active .faq__close-icon {
  color: var(--color-white, #ffffff);

  background-color: var(--state-active, #275699);
  border-color: var(--state-active, #275699);
}

.faq__question.is-active:active .faq__close-icon {
  color: var(--state-active, #275699);

  background-color: var(--color-white, #ffffff);
  border-color: var(--color-white, #ffffff);
}
