.feedback {
  padding: 40px 15px;

  background-color: var(--white, #ffffff);

  @media (min-width: $vp-768) {
    padding: 55px 80px 60px;
  }

  @media (min-width: $vp-1440) {
    padding-top: 53px;
  }

  &--style-blue {
    padding: 43px 10px 40px;
    background-color: var(--blue-overlay, rgba(49, 109, 194, 0.2));

    background-image: url("../../img/background/form-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (resolution >= 2dppx) {
      background-image: url("../img/background/form-mobile@2x.jpg");
    }
  }
}

.feedback__container {
  .feedback--style-blue & {
    background-color: var(--primary, #316dc2);
    color: var(--white, #ffffff);
    border-radius: 16px;
    padding: 17px 15px 27px;
  }
}

.feedback__title {
  margin: 0 0 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--primary, #316dc2);

  @media (min-width: $vp-768) {
    margin-bottom: 17px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 13px;

    font-size: 32px;
    line-height: 36px;
  }

  .feedback--style-blue & {
    color: var(--white, #ffffff);
    text-align: left;
    margin: 0 0 12px;
  }
}

.feedback__text {
  margin: 0 0 25px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $vp-768) {
    margin-bottom: 30px;
    padding: 0;

    font-size: 16px;
  }

  @media (min-width: $vp-1440) {
    font-size: 16px;
    line-height: 26px;
  }

  .feedback--style-blue & {
    margin-bottom: 21px;
    color: var(--beige, #f0efe9);
    text-align: left;
    padding: 0;
    opacity: 0.9;
  }
}

.feedback__button {
  justify-content: center;
  width: 100%;

  @media (min-width: $vp-768) {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 19px 79px 19px 29px;
  }
}
