.modal {
  position: absolute;
  z-index: 10;
  overflow: scroll;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: var(--dark-overlay, rgba(13, 29, 51, 0.4));

  &.is-open {
    display: flex;
  }

  @media (min-width: $vp-768) {
    padding-top: 90px;
    align-items: start;
  }
}

.modal__content {
  position: relative;

  width: 290px;

  border-radius: 16px;

  @media (min-width: $vp-768) {
    width: 510px;
  }
}

.modal__close-button {
  position: absolute;
  top: 2px;
  right: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 53px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    top: 14px;
    right: 14px;
  }

  &::before {
    content: "";

    width: 16px;
    height: 16px;

    background-image: url("../__spritemap#sprite-cross-view");
    background-repeat: no-repeat;
    background-position: center;


    @media (min-width: $vp-768) {
      width: 22px;
      height: 22px;
    }
  }
}
