.reviews__container.swiper {
  padding: 56px 15px 52px;

  @media (min-width: $vp-1440) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.reviews__title {
  margin: 0 0 34px;
  padding-right: 65px;
}

.reviews__slider-buttons {
  position: absolute;
  top: 54px;
  right: 15px;
}

.reviews__slider-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reviews__review {
  display: grid;
  align-items: flex-start;

  padding: 30px 15px 31px;

  border: 2px solid var(--primary, #316dc2);
  border-radius: 16px;

  @media (min-width: $vp-768) {
  }

  @media (min-width: $vp-1440) {
  }
}

.reviews__author {
  display: grid;
  margin-bottom: 15px;

  gap: 10px;
  grid-template-columns: 60px 1fr;
}

.reviews__author img {
  display: block;
  max-width: 60px;

  background-color: #a8a9a0;
  border-radius: 50%;
}

.reviews__author-name {
  margin: 9px 0 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary, #316dc2);
}

.reviews__info {
  display: grid;
  margin: 0 0 25px;

  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.reviews__info-title {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 12px;
  color: var(--primary, #316dc2);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.reviews__info-definition {
  margin: 0;

  font-size: 12px;
  line-height: 14px;

  opacity: 0.9;
}

.reviews__review-title {
  margin: 0 0 19px;

  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary, #316dc2);
}

.reviews__review > p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

.reviews__scrollbar.swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
    width: calc(78% - 2* var(--swiper-scrollbar-sides-offset, 1%));

    --swiper-scrollbar-bg-color: var(--blue-overlay, rgba(49, 109, 194, 0.2));
    --swiper-scrollbar-drag-bg-color: var(--primary, #316dc2);
    --swiper-scrollbar-sides-offset: 0.01%;
    --swiper-scrollbar-size: 2px;
  }

  @media (min-width: $vp-1440) {
    width: calc(91.5% - 2* var(--swiper-scrollbar-sides-offset, 1%));
  }
}
